body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card {
    width: 18rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    margin: 10px;
}
#cart{
    max-width: 100%;
    align-items: center;
    background-color: aquamarine;
    justify-content: center;
}

#orderSummary{
    max-width: 50%;
    background-color: rgb(232, 248, 248);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-block;
}
#ordersum{
 list-style-type:decimal;

}
nav{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    padding: 0, 0, 20px;
    position: sticky;
}
li{
    font-size: medium;
}
